.login {
  color: #c48900;
}

.loginContainer {
  display: flex;
  justify-content: center;
}

.loginBox {
  display: grid;
  position: relative;
  width: 35%;
  margin: auto;
}

.loginInput {
  font-size: 1rem;
  height: 20px;
  border-radius: 10px;
  background-color: #294056;

  padding: 10px;
  border: 1px solid #294056;
  color: white;
  margin: 10px;
}

.loginInput:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(81, 136, 136);
}

.loginInput::placeholder {
  color: white;
}

.loginButton {
  margin: 10px;
  background-color: #c48900;
  border: none;
  color: white;
  padding: 16px 32px;
  cursor: pointer;
  text-align: center;
  font-size: larger;
}
